<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag "about" %>
<% end %>
<% content_for :title, "About - Zach Crutcher" %>
<h1>About Me</h1>

<h2>I'm Zach</h2>
<div class="about-container">
<div>
<%= image_tag "about/about.png", alt: "Me posing with a massive pizza.", class: "me-img" %>
</div>
<div>
<i>These are always tough, but I’ll do my best.</i>
<p>
I played baseball throughout my youth and into college. I ended up attending five different colleges chasing that dream. Those experiences teach you a lot about how to become a good teammate and a net positive resource for others. Not every day is your day, but you can make sure others around you are improving even when you are struggling.
</p>
<p>
Previously, I was a Database Administrator & Developer responsible for database query performance, optimizations and ETL pipelines. These pipelines included migrating data between internal databases and externally to CRMs and product aggregator sites. This was my first professional development job and it was eye opening how vast the development world can be. The query performance and data relationship modeling still pays dividends to this day.
</p>
<p>
After my stint at the database layer I transferred departments to give myself a new challenge: become a web developer. I had taken a few web development courses in college and found it fascinating. I jumped at the opportunity to be paid to learn a new skill and also help my peers better understand databases. This new challenge was like drinking from a firehose. I had to learn MVC, ASP.NET, C#, JavaScript, React and finally Elm. Learning the ins and outs of a fully custom e-commerce platform was stressful but extremely rewarding. I still remember taking a walk and suddenly connecting the dots that Interfaces are Composition!
</p>
<p>
Bringing us to present day, I am now the development manager for the team I was once a dev for. This opened up an entirely new set of skills to learn - system design, project management and people management just to name a few.  Being a manager of a development team means the vast majority of my time is spent diagnosing issues and fleshing out scenarios so we can determine the best corrective course of action. This does limit my ability to deep dive into code during my work hours, which has led me to spending a majority of my free time working on projects and learning at home.
</p>
<p>
This coding constraint at work helped lead to the birth of Mobile Eats. It was a great opportunity for me to dive into the functional programming paradigm, learn a new language (Elixir) and become familiar with another framework (Phoenix).  My next topic of study is the Ruby world.
Ruby on Rails has always seemed interesting and I think is a nice logical fit for me. It has very nice expressive methods that give a functional programming feel, without having to give up some of the creature comforts of Object Oriented languages - updating those deeply nested property values, without having to Map, Map, Map… for example. I’ll be posting articles discussing what I learn along the way and adding project samples for any I create on this learning journey. Hopefully these articles and projects can be a net positive for other developers looking to push their own boundaries and grow.
</p>
</div>
</div>
