<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag "home" %>
<% end %>
<section class="intro">
<div>
<h1>Howdy, I'm Zach</h1>
<p>
a former Database Admin/Developer who got lost and ended up as a Web Development Manager for an e commerce company who has won the Bizrate Circle of Excellence award 18 times.
</p>
<p>
I recently (solo) launched a SaaS for Food Trucks called Mobile Eats (link). This was a passion project that has allowed me to build a multi tenant web app to generate websites based on my customers truck data. It also allowed me to scratch my functional programming itch by diving headfirst into Elixir and Phoenix Framework.
</p>
<p>
If you want to learn more about me, check out my /about page. If you are here on business, you can find my resume _here_ and articles about my development experiences <here>
</p>
</div>
<%= image_tag "home/portfolio-zach.png", alt: "Company Logo", class: "profile-pic block", width: 200 %>
</section>

<section class="featured-projects">
    <h2>Featured Projects</h2>

    <article>
      <%= image_tag "home/mobile_eats_logo.png", alt: "Mobile Eats Company Logo", class: "profile-pick block", width: 200 %>
        <h3 class="article-title">Mobile Eats</h3>
        <p class="description">I spent two years building a web platform designed specifically for food trucks. It gives </p>
        <footer>
            <a href="/projects/mobile-eats" class="primary semibold">Read more</a>
            <a href="https://mobileeats.food" class="secondary semibold">Check it out</a>
        </footer>
    </article>
</section>

<section class="featured-articles">
    <h2> Featured Articles</h2>
</section>
