h2 {
    font-size: xx-large;
    font-weight: 600;
}

.project-card {
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    background-color: var(--base-200);
    padding: 2rem 1rem;
    border-radius: 2rem;
}

.tags {
    display: flex;
    gap: 1rem;
}
.stack-details {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;

    .color-detail {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
    }
}

.cta {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.cta-btn {
    background-color: var(--primary);
    color: var(--primary-content);
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: 700;
    box-shadow: 0 4px 15px rgba(0, 240, 255, 0.3);
}

.cta-btn:after {
    content: " \2197";
}

@media (min-width: 768px) {
    .project-card {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-around;
        align-items: center;

        p {
            max-width: 65ch;
        }
    }
}

.pill-badge {
    background-color: var(--base-300);
    color: var(--base-content);
    padding: 0.35em 0.65em;
    border-radius: 50rem;
    width: fit-content;
    font-size: small;
    font-weight: 600;
}

.badge {
    background-color: var(--neutral);
    color: var(--neutral-content);
    outline: 2px solid var(--base-300);
    outline-offset: 2px;
    padding: 0.35em 0.65em;
    border-radius: 8px;
    width: fit-content;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
